#step_id1 {
    color: black;
}

#comment_id1 {
    color: black;
}

#step_id2 {
    color: brown;
}

#comment_id2 {
    color: black;
}

#step_id3 {
    color: black;
}

#comment_id3 {
    color: blue;
}

#step_id4 {
    color: brown;
}

#comment_id4 {
    color: blue;
}

#yield_id {
    color: blueviolet;
}
    
/*.algotype-algorithm-header {
    border-bottom: 2px solid #ffaa00;   
    border-top: 3px solid #44aacc;
}*/
/*
#algorithm_header_line {
    border-bottom: 2px solid #44aacc;
}*/